//colors
$main-color: linear-gradient(113.43deg, #D1AD4F 14.15%, #F8E376 35.61%, #946A20 66.28%, #E8C451 99.42%);
$secondary-color: #e6e6e6;
$dark-color: #000;

//fonts
$main-font: 'Darker Grotesque', sans-serif;
$secondary-font: 'Rozha One', serif;


//font sizes
$f-h1: 70px;
$f-h2: 60px;
$f-h3: 40px;
$f-lg: 36px;
$f-mmd: 32px;
$f-md: 24px;
$f-ssm: 22px;
$f-sm: 20px;
$f-xs: 18px;
$f-xxs: 16px;

//font weight
$f-main: 500;
$f-sec: 400;

//spaces
$s-xs: 20px;
$s-sm: 24px;
$s-md: 32px;
$s-lg: 40px;
$s-xl: 60px;
$s-xxl: 80px;

//sizes
$sm: 576px;
$md: 768px;
$lg: 991px;
$xl: 1200px;
